<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/componentes/styles.css">
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app"></div>
    <script>
        const app = Vue.createApp({
            data(){
                return{
                    text: "Accede a tu cuenta",
                    open:false,
                    username: "",
                    posts:[{
                        title: "Titulo1",
                        description: "Lorem ipsum..."
                    },
                    {
                        title: "Titulo2",
                        description: "Lorem ipsum..."
                    },
                    {
                        title: "Titulo3",
                        description: "Lorem ipsum..."
                    },
                    {
                        title: "Titulo4",
                        description: "Lorem ipsum..."
                    }
                    ]
                };
            },
            watch:{
                open(value){
                    if(value){
                        this.text = "Cerrar sesión";
                    } else{
                        this.text = "Accede a tu cuenta";
                        this.username="";
                    }
                }
            },
            computed:{
                label(){
                    return this.open ? "Salir" : "Acceder";
                },
                styles(){
                    return  this.open ? ['open'] :  ['closed'];
                }
            },
            template: `
            <div class="container" :class="styles">
                <h2> {{text}} </h2>
                <div v-if="open">
                    <p>Hola, {{username}} </p>
                    <div class="list">
                        <item
                        v-for="(item, i) in posts" :key="i"
                        :post="item"
                        />
                    </div>
                </div>
                <div v-else>
                    <div>Username</div>
                    <input type="text" v-model="username">
                </div>
                <button @click="open = !open">
                    <div v-if="!open">Acceder</div>
                    <div v-else>Salir</div>
                </button>
            </div>
            `
        })

        app.component("item", {
            props: ["post"],
            template:
            `
            <div class="item">
                <div class="title">{{post.title}}</div>
                <p>{{post.description}}</p>
            </div>
            `
        });
        
        const vm = app.mount("#app")

    </script>
</body>
</html>